name: pasty-test

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  pasty-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout rpetit3/pasty
        uses: actions/checkout@v2

      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: pasty
          auto-activate-base: false

      - name: Setup pasty Environment
        run: |
          conda install -y -c conda-forge -c bioconda 'camlhmp>=0.2.1'

      - name: Environment Information
        run: uname -a && env

      - name: Test pasty basics
        run: |
          echo "Testing patsy"
          bin/pasty --version
          bin/pasty --help

      - name: Test patsy
        run: |
          echo "O1-GCF_001420225"
          bin/pasty --input test/data/O1-GCF_001420225.fna.gz --prefix O1-GCF_001420225 --db db/OSAdb.fasta
          cat O1-GCF_001420225.tsv
          cat O1-GCF_001420225.details.tsv
          echo "O2-GCF_001420185"
          bin/pasty --input test/data/O2-GCF_001420185.fna.gz --prefix O2-GCF_001420185 --outdir O2
          cat O2/O2-GCF_001420185.tsv
          cat O2/O2-GCF_001420185.details.tsv
          echo "O3-GCF_001420205"
          bin/pasty --input test/data/O3-GCF_001420205.fna.gz --prefix O3-GCF_001420205 --outdir O3
          cat O3/O3-GCF_001420205.tsv
          cat O3/O3-GCF_001420205.details.tsv
          echo "O4-GCF_001420245"
          bin/pasty --input test/data/O4-GCF_001420245.fna.gz --prefix O4-GCF_001420245 --outdir O4
          cat O4/O4-GCF_001420245.tsv
          cat O4/O4-GCF_001420245.details.tsv
          echo "O5-GCF_001420265"
          bin/pasty --input test/data/O5-GCF_001420265.fna.gz --prefix O5-GCF_001420265 --outdir O5
          cat O5/O5-GCF_001420265.tsv
          cat O5/O5-GCF_001420265.details.tsv
          echo "O6-GCF_001444755"
          bin/pasty --input test/data/O6-GCF_001444755.fna.gz --prefix O6-GCF_001444755
          cat O6-GCF_001444755.tsv
          cat O6-GCF_001444755.details.tsv
          echo "O7-GCF_001444745"
          bin/pasty --input test/data/O7-GCF_001444745.fna.gz --prefix O7-GCF_001444745
          cat O7-GCF_001444745.tsv
          cat O7-GCF_001444745.details.tsv
          echo "O9-GCF_001444815"
          bin/pasty --input test/data/O9-GCF_001444815.fna.gz --prefix O9-GCF_001444815
          cat O9-GCF_001444815.tsv
          cat O9-GCF_001444815.details.tsv
          echo "O10-GCF_001444835"
          bin/pasty --input test/data/O10-GCF_001444835.fna.gz --prefix O10-GCF_001444835
          cat O10-GCF_001444835.tsv
          cat O10-GCF_001444835.details.tsv
          echo "O11-GCF_001444955"
          bin/pasty --input test/data/O11-GCF_001444955.fna.gz --prefix O11-GCF_001444955
          cat O11-GCF_001444955.tsv
          cat O11-GCF_001444955.details.tsv
          echo "O12-GCF_001444975"
          bin/pasty --input test/data/O12-GCF_001444975.fna.gz --prefix O12-GCF_001444975
          cat O12-GCF_001444975.tsv
          cat O12-GCF_001444975.details.tsv
          echo "O13-GCF_001444995"
          bin/pasty --input test/data/O13-GCF_001444995.fna.gz --prefix O13-GCF_001444995
          cat O13-GCF_001444995.tsv
          cat O13-GCF_001444995.details.tsv
          echo "NT-GCF_000292685"
          bin/pasty --input test/data/NT-GCF_000292685.fna.gz --prefix NT-GCF_000292685 --db db/OSAdb.fasta
          cat NT-GCF_000292685.tsv
          cat NT-GCF_000292685.details.tsv
          echo "not-a-fasta"
          bin/pasty --input test/data/not-a-fasta.fasta --prefix not-a-fasta
          cat not-a-fasta.tsv
          cat not-a-fasta.details.tsv
          echo "poor"
          bin/pasty --input test/data/poor.fasta --prefix poor --outdir poor
          cat poor/poor.tsv
          cat poor/poor.details.tsv
